# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Secrets
.env
.env.*
*.pem

# Jenkins
jenkins_home/

# OS
.DS_Store
Thumbs.db